{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container mx-auto px-4 rounded-md">
<div class="bg-white p-4 rounded-lg shadow-md m-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Bienvenue, sur votre profile</h1>
    
    <div class="flex flex-col justify-center items-center">

        
    <div class="mb-4">
        <h2 class="text-xl font-semibold">Email : <span class="text-2xl text-green-800 font-semibold">{{ user.email }}</span></h2>
    </div>

    
    <div class="mb-4">
        <h2 class="text-xl font-semibold">Nom : <span class="text-2xl text-green-800 font-semibold">{{ user.name }}</span></h2>
    </div>
    
    <a class="text-white text-center font-bold text-xl px-6 py-2 rounded-full hover:bg-blue-300
     hover:text-black duration-300 bg-blue-700 inline-block mt-6" href="{{ path('app_profile_edit') }}">Modifer</a>
</div>
    {{ include('profile/_delete_form.html.twig') }}

</div>


</div>
{% endblock %}
