{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
<body>
    
<div class="container mx-auto px-4  rounded-md">
<h1 class="text-5xl font-bold mb-4 mt-5">Articles</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {% for article in articles %}
    <div class="p-6 rounded-lg shadow-md bg-gray-100 flex flex-col">
        <div class="flex-1 mb-2">
            <span class="font-bold text-xl transform capitalize">{{ article.titre }}</span>
        </div>
        <div class="flex-1 mb-2">
            <span class="font-medium">{{ article.contenu|two_lines }}</span> 
        </div>
        <div class="flex-1 mt-4">
            <a href="{{ path('app_article_show', {'id': article.id}) }}" class="text-white px-3 py-1 rounded-lg hover:bg-green-300 hover:text-black duration-300 bg-green-700">Show</a>
        </div>
    </div>
    {% else %}
        <div class="text-center">No records found</div>
    {% endfor %}

   

</div>
{% if app.user %}
<a href="{{ path('app_article_new') }}" class="text-white text-center font-bold text-xl px-6   
py-2 rounded-full hover:bg-blue-300 hover:text-black duration-300 bg-blue-700 inline-block mt-6">Ajouter un article</a>

{% endif %}

</body>
{% endblock %}
