{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}

<div class="container mx-auto px-4  rounded-md">
    <h1 class="text-5xl font-bold mb-4 mt-5">Catégories</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {% for categorie in categories %}
        <div class="p-6 rounded-lg shadow-md bg-gray-100 flex flex-col">
           
            <h2 class="font-bold text-xl transform capitalize">{{ categorie.nom }}</h2>
            

            <div class="mt-4">
                <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}" class="text-white px-3 py-1 rounded-lg hover:bg-green-300 hover:text-black duration-300 bg-green-700">Consulter les articles</a>
            </div>
            
        </div>
    {% else %}
        <div class="text-center">Pas de catégorie</div>
    {% endfor %}
</div>
</div>


{% endblock %}
